<!DOCTYPE html>
<html lang="en">
  <head>
    @include('partials._head')
  </head>
  <body>
    <!-- Navigation -->
    @include('partials._nav')
    
    <!-- Main content-->
    @!section('content')

    <!-- Footer -->
    @include('partials._footer')

    @include('partials._javascript')
  </body>
</html>
